/* Header Container */
.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Align items in the center */
    height: 60px;
    padding: 0 10px; /* Reduced padding */
    background: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 50%; /* Center the header */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 10;
    backdrop-filter: blur(8px); 
    width: 50%; 
    margin-top: 50px; 
}
  

  
/* Search Bar */
.header-search {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 5px 10px; /* Reduced padding */
    width: 100px; /* Further reduced width */
    margin-right: 10px;
}
  
.search-icon {
    color: black; /* Changed color to black */
    margin-right: 10px; /* Increased margin for more space */
}
  
.search-input {
    background: transparent;
    border: none;
    outline: none;
    color: black; /* Changed color to black */
    width: 100%;
    font-size: 14px;
}
  
.search-input::placeholder {
    color: rgba(0, 0, 0, 0.6); /* Changed placeholder color to a lighter black */
}
  
/* Avatar */
.header-avatar .MuiAvatar-root {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
  
.header-avatar .MuiAvatar-root:hover {
    transform: scale(1.1);
}