.header {
    width: calc(100% - 300px); /* Adjust based on the sidebar width */
    position: fixed; /* Keep it fixed at the top */
    left: 300px; /* Align it next to the sidebar */
    top: 0;
    z-index: 10; 
    background-color: gray;
}

/* Search Bar */
.header-search {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 5px 10px; 
    width: 100px;
    margin-right: 10px;
}
  
.search-icon {
    color: black; 
    margin-right: 10px; 
}
  
.search-input {
    background: transparent;
    border: none;
    outline: none;
    color: black; 
    width: 100%;
    font-size: 14px;
}
  
.search-input::placeholder {
    color: rgba(0, 0, 0, 0.6); 
}
  
/* Avatar */
.header-avatar .MuiAvatar-root {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
  
.header-avatar .MuiAvatar-root:hover {
    transform: scale(1.1);
}